header {
  height: 620px;
  width: 100%;
  background-color: rgb(201, 164, 170);
  background-image: url("https://www.transparenttextures.com/patterns/triangles.png");
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:relative;
}

header img {
  margin-top: 8em;   /* Add margin at the top for spacing */
}





