form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  width:100%;
}

.container {
  margin-top: 30px;
}

label {
  font-weight: 600;
  font-size: 30px;
  color: #545149;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  height: 43px;
  margin-bottom: 10px;
  border: none; 
  background-color: #f4f1ec;
  border-bottom: 5px solid #545149;
  font-size: 16px;
  font-weight: 600;
} 

.tweet-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Bungee", sans-serif;
}

.tweet-submit button {
  background-color: #4056A1;
  color: #f4f1ec;
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
}

.error-message{
  display: none;
  color: red;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border: 5px dotted red;
}

#tweet-container {
  width: 100%;
}

.tweet {
  display: flex; 
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 50px 0;
  border: 5px solid #545149;
}

.tweet:hover {
  box-shadow: 8px 8px 0px #cac5b3;
}

article.tweet header {
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px 20px 30px;
  height: 100%;
}

div.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

div.user-avatar img {
  width: 2em;
  height: 2em;
  margin-top: 0px;
  margin-right: 20px
}

div.user-name {
  color: #545149;
  font-size: 16px;
  font-weight: 300;
  margin-top: 14px;
}

div.user-handle { 
  color: #cac5b3;
  font-size: 16px;
  font-weight: 600;
  margin-top: 14px;
}

div.tweet-content {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

div.tweet-content p {
  width: 100%;
  font-size: 1.1em;
  font-weight: 600;
  color: #545149;
  border-bottom: 5px solid #545149;
  padding: 0 20px 30px 20px;
  margin: 0px;
}

article.tweet footer {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 70px;
}

div.tweet-date {
  color: #545149;
  font-size: 18px;
}

h4{
  margin: 0.6em 0 0.9em 0;
}

div.tweet-actions {
  font-size: 18px;
  display: flex;
  gap: 20px;
}

i:hover {
  color: rgb(201, 164, 170);
}


@media only screen and (max-width: 1023px) {
  nav {
    background-color: rgb(201, 164, 170);
    background-image: url("https://www.transparenttextures.com/patterns/triangles.png");
  }
} 

@media only screen and (min-width: 1024px) {
  header {
    width: 35%;
    height: 35%;
    float: left;
    margin: 8em 0 5em 2em;
  }

  header img {
    margin-top: 2em;
  }

  .container {
    width: 50%;
    float: right;
    margin: 8em 2em 5em 0;
  }

  article.tweet header {
    margin: 0px;
    width: 100%;
  }
}
